<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ピザ屋のネット注文</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/piza.css}" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"> <!-- 企業ロゴ --> <img
						alt="main log" th:src="@{/img/header_logo.png}" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
						<a th:href="@{/cartList}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
						<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/orderHistory}"
							class="navbar-link">注文履歴</a>&nbsp;&nbsp; <a
							sec:authorize="isAnonymous()" th:href="@{/login}"
							class="navbar-link">ログイン</a>&nbsp;&nbsp; <a
							sec:authorize="hasRole('ROLE_USER')" th:href="@{/logout}"
							class="navbar-link">ログアウト</a>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	<!-- /.container-fluid -->
	<pre>
	500 Not Found
	申し訳ございません。お探しのページは現在メンテナンス中です。

	以下のリンクからログインし直してください。	

</pre>

	<a th:href="@{/}" class="navbar-link">商品一覧画面に戻る</a>
	</div>
</body>
</html>